// Place all the styles related to the interface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.info{
	margin-bottom: 1%;
}
.cont{
	height: 120px;
}
.but{
	margin-bottom: 3%;
}
.cover{
	width: 90px;
	height: 100px;
	float: left;
}